@CHARSET "UTF-8";

body {
	background-color: #f6f6f6;
}

.popupDiv {
	border: solid 1px black;
    position: fixed;
    left: 50%;
    top: 50%;
    background-color: white;
    z-index: 100;
}

#pdfInput, #processPDFButton {
	position: relative;
	left: 50%;
	margin-left: -75px;
	margin-top: 12%;
}



#uploadPDFDiv {
	height: 200px;
    margin-top: -125px;

    width: 300px;
    margin-left: -150px;
}

.popupDiv .closePopupButton {
	float: right;
}

.centeredText {
	text-align: center;
}



.centeredSection {
	width: 30%;
	margin: auto;
	border: 3px solid green;
	padding: 18px;
}

#publishButton {
	float: right;
}




#viewArea {
	margin-top: 10px;
	width: 100%;
	background-color: #baf0ff;
}

#pageSwitcherSuper {
	left: 0%;
	width: 100%;
	background-color: gray;
}

#pageSwitcherSub {
	display: inline-block;
	position: relative;
	left: 50%;
	margin-left: -125px;
	background-color: gray;
}


#pageInput {
	width: 40px;
}


.disableButtons {
	pointer-events: none;
	opacity: 0.4;
}


table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
	padding-right: 5px;
}

#resultsTable {
	width: 100%;
	table-layout: fixed;
}

#resultsTable  tr  td  p {
	word-wrap: break-word;
	margin-top: 0px;
	margin-bottom: 0px;
}
.resultsTableInput {
	background-color: #baf0ff;
	border-color: #baf0ff;
	height: 100%;
	width: calc(100% - 5px);
}

.strikethrough {
	text-decoration: line-through;
	color: red;
}

.wordCol, .rootCol, .posCol, .nepCol, .modCol, .dateCol, .otherCol {
	width: 8%;
}

.defCol {
	width: 28%;
}

.statCol {
	width: 16%;
}

.entryDeleteButton {
	background-color: red;
	float: right;
	height: 100%;
}

.statButton {
	height: 100%;
	background-color: lime;
}

.cancelButton {
	height: 100%;
	float: right;
	background-color: orange;
}